.button {
    -fx-background-color: rgb(82, 82, 82);
}

.button:hover {
    -fx-background-color: rgb(82, 82, 82);
    -fx-background-radius:0;
    
    -fx-border-color: white;
    
    -fx-border-width: 2 2 2 2;
    -fx-background-insets: 0;
    
    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.root {
    -fx-padding: 5px ;
}

.cell {

    /* Defines a black border around the standard color -fx-base */
    -fx-background-color:  black, -fx-base ;

    /* By default draw the base color over the whole region, so no border visible */
    -fx-background-insets: 0, 0 ;

    -fx-padding: 2px ;
}

.cell:right {
    -fx-background-insets: 0, 0 2 0 0 ;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 2 0 ;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 2 2 0 ;
}

.cell .text-field {
    -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
    -fx-alignment: center;
    -fx-font-weight: bold;
}