.button:hover {
    -fx-background-color:lime;
    -fx-background-radius:0;
    -fx-border-color:white;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
}

.root {
    -fx-padding: 5px ;
}

.cell {

    /* Defines a black border around the standard color -fx-base */
    -fx-background-color:  black, -fx-base ;

    /* By default draw the base color over the whole region, so no border visible */
    -fx-background-insets: 0, 0 ;

    -fx-padding: 2px ;
}

.cell:right {
    -fx-background-insets: 0, 0 2 0 0 ;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 2 0 ;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 2 2 0 ;
}

.cell .text-field {
    -fx-pref-width: 1em ;
    -fx-pref-height: 1em ;
    -fx-alignment: center;
    -fx-font-weight: bold;
}